body {
  background: #d4d4d4;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

* {
  transition-duration: .2s;
}

a {
  color: white;
}

#container {
  margin: 15px auto;
  display: inline-block;
  width: 800px;
  padding: 9px 12px;
  background: white;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  padding-bottom: 6px;
  border-bottom: 2px solid #d4d4d4;  
}

#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 6px;
  border-top: 2px solid #d4d4d4;  
}

.header-cell, .footer-cell, .cell-4, .cell-7 {
  background: #646464;
  color: white;
  text-align: left;
  padding: 5px;
}

.header-cell, .footer-cell {
  margin: 6px 0;
}

.cell-1 {
  flex-basis: 11%;
}

.cell-2 {
  flex-basis: 29%;
}

.cell-3 {
  flex-basis: 53%;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

#content-left {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 6px;
  padding-bottom: 12px; 
}

.whitespace {
  flex-basis: 59%;
  padding-bottom: 12px; 
}

#content-right {
  flex-basis: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6px;
}

.content-cell {
  padding-bottom: 12px; 
}

.content-cell div {
  background: #d4d4d4;
  color: black;
  text-align: left;
  padding: 5px;  
}

.cell-5 {
  flex-basis: 100%;
}

.cell-6 {
  flex-basis: 18%;
}

.cell-8-9 {
  flex-basis: 49%;
}

.cell-10 {
  flex-basis: 31%;
}

.cell-11 {
  flex-basis: 32%;
}

.cell-12-13 {
  flex-basis: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cell-12 {
  flex-basis: 41%;
}

.cell-13 {
  flex-basis: 41%;
}

@media screen and (min-width: 1125px) {

  #container {
    margin: 15px auto;
    display: inline-block;
    width: 1070px;
    padding: 9px 12px;
    background: white;
  }

  .cell-6 {
    flex-basis: 13%;
  }

  .whitespace {
    display: none;
  }
  
  .cell-1 {
    flex-basis: 12%;
  }

  .cell-2 {
    flex-basis: 30%;
  }

  .cell-3 {
    flex-basis: 53%;
  }

  .cell-8-9 {
    flex-basis: 49.3%;
  }

  .cell-10 {
    flex-basis: 32%;
  }

  .cell-11 {
    flex-basis: 32%;
  }

  .cell-12-13 {
    flex-basis: 32%;
  }

}

@media screen and (max-width: 865px) {

  #container {
    margin: 15px auto;
    display: inline-block;
    width: 570px;
    padding: 9px 12px;
    background: white;
  }

  .cell-1 {
    flex-basis: 27%;
  }

  .cell-2 {
    flex-basis: 67%;
  }

  .cell-3 {
    flex-basis: 100%;
  }

  .cell-6 {
    flex-basis: 32%;
  }

  .cell-8-9 {
    flex-basis: 100%;
  }

  .cell-10 {
    flex-basis: 47%;
  }

  .cell-11 {
    flex-basis: 47%;
  }

  .cell-12-13 {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cell-12 {
    flex-basis: 47%;
  }

  .cell-13 {
    flex-basis: 47%;
  }
  
}

@media screen and (max-width: 630px) {

  #container {
    margin: 15px auto;
    display: inline-block;
    width: 450px;
    padding: 6px 12px;
    background: white;
  }

  #content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
  }

  #content-left {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 12px 0; 
  }

  #content-right {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
  }

  .cell-1 {
    flex-basis: 26%;
  }

  .cell-4 {
    margin-bottom: 6px;
  }

  .cell-7 {
    margin-top: 6px;
  }

  .cell-10 {
    flex-basis: 46%;
  }

  .cell-12 {
    flex-basis: 46%;
  }
  
}

@media screen and (max-width: 490px) {

  #container {
    margin: 15px auto;
    display: inline-block;
    width: 320px;
    padding: 6px 12px;
    background: white;
  }

  .cell-1 {
    flex-basis: 24%;
  }

  .cell-6 {
    flex-basis: 48%;
  }

  .whitespace {
    display: none;
  }
 
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6px;
    border-top: 2px solid #d4d4d4;  
  }
  
  .cell-12-13 {
    flex-basis: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
}
