body {
  background-color: #d4d4d4;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

* {
  transition-duration: .2s;
}

a {
  color: white;
}

#container {
  margin: 15px auto;
  display: inline-block;
  width: 800px;
  padding: 15px;
  background-color: white;
}

header {
  padding-bottom: 12px;
  border-bottom: 2px solid #d4d4d4;  
}

footer {
  padding-top: 12px;
  border-top: 2px solid #d4d4d4;  
}

.clearfix, header::after, #content::after, .cell-13::after, footer::after {
  content: "";
  clear: left;
  display: table;
}

.header-cell, .footer-cell, nav, .cell-7 {
  background: #646464;
  color: white;
  text-align: left;
  padding: 5px;
}

.cell-1 {
  width: 13%;
  float: left;
  box-sizing: border-box;
  padding-right: 6px;
}

.cell-2 {
  width: 32%;
  float: left;
  box-sizing: border-box;
  padding-right: 6px;
  padding-left: 6px;
}

.cell-3 {
  width: 55%;
  float: left;
  box-sizing: border-box;
  padding-left: 6px;
}

#content {
  padding-top: 10px;  
}

aside {
  width: 20%;
  height: 100%;
  float: left;
  box-sizing: border-box;
}

.whitespace {
  padding-bottom: 12px;
}

.footer-whitespace {
  padding-bottom: 16px;
}

.whitespace::after {
  white-space: pre;
  content: "\A\A\A\A\A\A\A\A\A\A\A\A";
}

section {
  width: 80%;
  float: left;
}

.content-cell {
  padding-left: 12px; 
  padding-bottom: 12px; 
  box-sizing: border-box;
}

.content-cell div {
  background: #d4d4d4;
  color: black;
  text-align: left;
  padding: 5px;  
}

.cell-6 {
  width: 20%;
  float: left;
}

.cell-8-9 {
  width: 50%;
  float: left;
}

.cell-10 {
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  padding-right: 6px;
}

.cell-11 {
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  padding-right: 6px;
  padding-left: 6px;
}

.cell-12-13 {
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  padding-left: 6px;
}

.cell-12 {
  padding-bottom: 6px;
  box-sizing: border-box;
  height: 50%;
}

.cell-13 {
  padding-top: 6px;
  box-sizing: border-box;
  height: 50%;
}

@media screen and (min-width: 1125px) {

  #container {
    margin: 15px auto;
    display: inline-block;
    width: 1070px;
    padding: 15px;
    background-color: white;
  }

  .whitespace::after {
    white-space: pre;
    content: "\A\A\A\A\A";
  }

  .cell-6 {
  width: 14.28%;
  float: left;
  }
  
}

@media screen and (max-width: 865px) {

  #container {
    margin: 15px auto;
    display: inline-block;
    width: 570px;
    padding: 15px;
    background-color: white;
  }

  .cell-1 {
    width: 30%;
    float: left;
    box-sizing: border-box;
    padding: 0 6px 6px 0;
  }

  .cell-2 {
    width: 70%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 6px 6px;
  }

  .cell-3 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 6px 0 0 0;
  }

  .whitespace::after {
    white-space: pre;
    content: "\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A\A";
  }

  .cell-6 {
    width: 33.33%;
    float: left;
  }
  
  .cell-8-9 {
    width: 100%;
    float: left;
  }

  .cell-10 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 6px 6px 0;
  }

  .cell-11 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 6px 6px;
  }

  .cell-12-13 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0;
  }

  .cell-12 {
    width: 50%;
    padding: 6px 6px 0 0;
    float: left;
  }

  .cell-13 {
    width: 50%;
    padding: 6px 0 0 6px;
    float: left;
    box-sizing: border-box;
  }

}

@media screen and (max-width: 630px) {

  #container {
    margin: 15px auto;
    display: inline-block;
    width: 450px;
    padding: 12px 12px 12px 0;
    background-color: white;
  }

  aside {
    width: 100%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 12px 12px;
  }

  header {
    padding-bottom: 12px;
    margin-left: 12px;
    border-bottom: 2px solid #d4d4d4;  
  }

  footer {
    padding-top: 12px;
    margin-left: 12px;
    border-top: 2px solid #d4d4d4;  
  }

  .whitespace::after {
    content: "";
  }

  section {
    width: 100%;
    float: left;
  }
  
  .cell-1 {
    width: 30%;
    float: left;
    box-sizing: border-box;
    padding: 0 6px 6px 0;
  }

  .cell-2 {
    width: 70%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 6px 6px;
  }

  .cell-3 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 6px 0 0 0;
  }
  
  .cell-6 {
    width: 33.33%;
    float: left;
  }
  
  .cell-8-9 {
    width: 100%;
    float: left;
  }

  .cell-10 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 6px 6px 0;
  }

  .cell-11 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 6px 6px;
  }

  .cell-12-13 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0;
  }
  
}

@media screen and (max-width: 490px) {

  #container {
    margin: 15px auto;
    display: inline-block;
    width: 320px;
    padding: 12px 12px 12px 0;
    background-color: white;
  }

  aside {
    width: 100%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 12px 12px;
  }

  header {
    padding-bottom: 12px;
    margin-left: 12px;
    border-bottom: 2px solid #d4d4d4;  
  }

  footer {
    padding-top: 12px;
    margin-left: 12px;
    border-top: 2px solid #d4d4d4;  
  }

  .whitespace::after {
    content: "";
  }

  section {
    width: 100%;
    float: left;
  }
  
  .cell-1 {
    width: 30%;
    float: left;
    box-sizing: border-box;
    padding: 0 6px 6px 0;
  }

  .cell-2 {
    width: 70%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 6px 6px;
  }

  .cell-3 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 6px 0 0 0;
  }
  
  .cell-6 {
    width: 50%;
    float: left;
  }
  
  .cell-8-9 {
    width: 100%;
    float: left;
  }

  .cell-10 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 6px 0;
  }

  .cell-11 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 6px 0;
  }

  .cell-12-13 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0;
  }

  .cell-12 {
    width: 100%;
    padding: 6px 0;
    box-sizing: border-box;
  }

  .cell-13 {
    width: 100%;
    padding: 6px 0 0 0;
    box-sizing: border-box;
  }
  
}
